@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-Light.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-LightItalic.woff2') format('woff2');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Light.ttf') format('ttf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}